@import 'src/main';

// ul,
// ol {
//   margin: 20px;
//   width: 100%;
// }

.elr-unstyled-list {
  @include elr-unstyled-list;
}

.elr-border-list {
  @include elr-border-list;

  li {
    font-size: 14px;
  }
}

.elr-inline-list {
  @include elr-inline-list;
  width: 100%;

  li {
    font-size: 14px;
  }
}

.elr-bullet-list {
  @include elr-bullet-list;
}

.elr-icon-list {
  @include elr-icon-list;
}
