@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

// TODO: add tag list
// TODO: add item lists
// TODO: add image lists

@mixin elr-unstyled-list() {
  list-style: none;
  padding-left: 0;

  li {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-top: $base-fontsize * 0.5;
    margin-bottom: $base-fontsize * 0.5;
  }
}

@mixin elr-border-list($config: ()) {
  $config: extend(
    (
      border-color: $light-gray,
    ),
    $config
  );

  $border-color: map-get($config, border-color);
  padding: 0;

  li {
    list-style: none;
    padding: $base-fontsize ($base-fontsize * 0.25);
    border-bottom: 1px solid $border-color;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;

    > *:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    > *:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

@mixin elr-inline-list($config: ()) {
  padding: 0;

  li {
    margin: $base-fontsize * 0.5;
    padding: 0;
  }

  li:first-of-type {
    margin-left: 0;
    padding-left: 0;
  }

  li,
  a {
    display: inline-block;
  }
}

@mixin elr-bullet-list($config: ()) {
  $config: extend(
    (
      icon: "\2705",
      icon-font-size: 70%,
    ),
    $config
  );

  $icon: map-get($config, icon);
  $icon-font-size: map-get($config, icon-font-size);
  padding-left: 0;
  list-style-position: inside;

  li {
    margin-left: 0;
    margin-top: $base-fontsize * 0.5;
    margin-bottom: $base-fontsize * 0.5;
    padding: 0 $base-fontsize * 0.5;
    list-style: none;

    &:before {
      content: $icon;
      display: inline;
      padding-right: $base-fontsize * 0.5;
      font-size: $icon-font-size;
      vertical-align: middle;
    }
  }
}

@mixin elr-icon-list($config: ()) {
  $config: extend(
    (
      icon-font-size: $base-fontsize,
      icon-color: $primary-color,
    ),
    $config
  );

  $icon-font-size: map-get($config, icon-font-size);
  $icon-color: map-get($config, icon-color);

  margin-left: 0;
  padding-left: 0;

  li {
    margin-left: 0;
    margin-top: $base-fontsize * 0.5;
    margin-bottom: $base-fontsize * 0.5;
    padding-left: $base-fontsize * 0.5;
    list-style: none;

    .elr-list-icon {
      font-size: $icon-font-size;
      color: $icon-color;
      margin-right: $base-fontsize * 0.5;
    }
  }
}
